<app-header></app-header>

<!-- REGISTRATION FORM -->
<div class="text-center body" style="padding:50px 0">
	<div class="logo">Register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" #usersignupForm="ngForm" (ngSubmit)="usersignupSubmit(usersignupForm)" [formGroup]="userSignupform">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="username" name="username" placeholder="Username" [formControl]="userSignupform.controls['name']">
						<small *ngIf="userSignupform.controls['name'].hasError('required') && userSignupform.controls['name'].touched" class="form-message text-danger">You must include an user name.</small>
					</div>

					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="Email" [formControl]="userSignupform.controls['email']">
						<small *ngIf="userSignupform.controls['email'].hasError('required') && userSignupform.controls['email'].touched" class="form-message text-danger">You must include an email.</small>
   					 	<small *ngIf="userSignupform.controls['email'].hasError('email') && userSignupform.controls['email'].touched" class="form-message text-danger">You must include valid email.</small>
					</div>

					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" [formControl]="userSignupform.controls['password']">
						<small *ngIf="userSignupform.controls['password'].hasError('required') && userSignupform.controls['password'].touched" class="form-message text-danger">You must include a password.</small>
						<small *ngIf="userSignupform.controls['password'].hasError('minlength') && userSignupform.controls['password'].touched" class="form-message text-danger">Password must be more than 6.</small>     
					</div>

					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" [formControl]="userSignupform.controls['cpassword']">
						<small *ngIf="userSignupform.controls['cpassword'].hasError('equalTo') && userSignupform.controls['cpassword'].touched" class="form-message text-danger">You must include a same password.</small>
						<small *ngIf="userSignupform.controls['cpassword'].hasError('minlength') && userSignupform.controls['cpassword'].touched" class="form-message text-danger">Password must be more than 6.</small>   
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="gender" id="male" value="male" [formControl]="userSignupform.controls['gender']">
						<label for="male">Male</label>
						
						<input type="radio" class="" name="gender" id="female" value="female" [formControl]="userSignupform.controls['gender']">
						<label for="female">Female</label>

						<small *ngIf="userSignupform.controls['gender'].hasError('required') && userSignupform.controls['gender'].touched" class="form-message text-danger">You must select a gender.</small> 
					</div>

					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" [formControl]="userSignupform.controls['phone']">
						<small *ngIf="userSignupform.controls['phone'].hasError('required') && userSignupform.controls['phone'].touched" class="form-message text-danger">You must include a phone number.</small>
      					<small *ngIf="userSignupform.controls['phone'].hasError('digits') && userSignupform.controls['phone'].touched" class="form-message text-danger">You must include only digits.</small>
      					<small *ngIf="userSignupform.controls['phone'].hasError('minlength') && userSignupform.controls['phone'].touched" class="form-message text-danger">You must include a valid number.</small> 
      					<small *ngIf="userSignupform.controls['phone'].hasError('maxlength') && userSignupform.controls['phone'].touched" class="form-message text-danger">You must include a valid number.</small>   
					</div>

					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<textarea class="form-control" id="address" name="address" placeholder="Address" [formControl]="userSignupform.controls['address']"></textarea>
						<small *ngIf="userSignupform.controls['address'].hasError('required') && userSignupform.controls['address'].touched" class="form-message text-danger">You must include an address.</small>
					</div>

					<div class="form-group">
						<re-captcha (resolved)="resolved($event)" siteKey="6Ld1ykUUAAAAANyrnBLoGfFRrF8tbkzggN_Y3Csl" class="form-control"></re-captcha>
					</div>
					<div class="etc-login-form">
						<p>Already have an Account? <a routerLink="/login">Login</a></p>
					</div>
				</div>
				<button type="submit" class="login-button" [disabled]="!userSignupform.valid"><i class="fa fa-chevron-right"></i></button>
			</div>
			
		</form>
	</div>
	<!-- end:Main Form -->
</div>

<!-- FORGOT PASSWORD FORM -->
<!-- <div class="text-center" style="padding:50px 0">
	<div class="logo">forgot password</div>
	<!-- Main Form 
	<div class="login-form-1">
		<form id="forgot-password-form" class="text-left">
			<div class="etc-login-form">
				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="#">login here</a></p>
				<p>new user? <a href="#">create new account</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form 
</div> -->
<app-footer></app-footer>