<nav class="navbar navbar-expand-sm navbar-inverse" style="margin-bottom: 0px; border-radius: 0px;">
    <div class="container-fluid" style="display: block !important;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ionic Snippets</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="!isLogin"><a routerLink="/sign-up" class="nav-link"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
            <li class="nav-item" *ngIf="!isLogin"><a routerLink="/login" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li class="nav-item" *ngIf="isLogin"><a routerLink="/user" class="nav-link"><span class="glyphicon glyphicon glyphicon-th-list"></span> My Snippets</a></li>
            <!-- <li class="nav-item" *ngIf="isLogin"><a href="" (click)="logout()" class="nav-link"><span class="glyphicon glyphicon-log-out" *ngIf="isLogin"></span> Logout</a></li> -->
            <li class="nav-item dropdown" *ngIf="isLogin"> 
		      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		        Profile
		      </a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item" href="#">My Profile <span class="glyphicon glyphicon glyphicon-user pull-right" ></span></a>
		        <a class="dropdown-item" href="#">Settings <span class="glyphicon glyphicon glyphicon-cog pull-right"></span></a>
		        <a href="" (click)="logout()" class="dropdown-item">Logout <span class="glyphicon glyphicon-log-out pull-right"></span></a>
		      </div>
    		</li>
        </ul>
    </div>
</nav>