<app-header></app-header><br>
<div class="container" style="min-height: 500px;">
	<legend><b>My Snippets</b></legend>
	<button class="btn btn-success pull-right"><span class="glyphicon glyphicon glyphicon-plus"></span> Create New</button>
</div><br>
<app-footer></app-footer>