<app-header></app-header>
<!-- LOGIN FORM -->

<div class="text-center body" style="padding:50px 0">

	<div class="logo">Login</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left" #usersigninForm="ngForm" (ngSubmit)="usersigninSubmit(usersigninForm)" [formGroup]="userform">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" [formControl]="userform.controls['email']">
						<small *ngIf="userform.controls['email'].hasError('required') && userform.controls['email'].touched" class="form-message text-danger">You must include an email.</small>
       					 <small *ngIf="userform.controls['email'].hasError('email') && userform.controls['email'].touched" class="form-message text-danger">You must include valid email.</small>
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="password" [formControl]="userform.controls['password']">
						<small *ngIf="userform.controls['password'].hasError('required') && userform.controls['password'].touched" class="form-message text-danger">You must include a password.</small>
						<small *ngIf="userform.controls['password'].hasError('minlength') && userform.controls['password'].touched" class="form-message text-danger">Password must be more than 6.</small>   
					</div>
					<!-- <div class="form-group login-group-checkbox">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember">remember</label>
					</div> -->
					<div class="etc-login-form">
						<p><a href="#">Forgot Password?</a> | 
						<a routerLink="/sign-up">New User?</a></p>
					</div>
				</div>
				<button [disabled]="!userform.valid" type="submit" class="login-button"><i class="fa fa-chevron-right" style="color: black;"></i></button>
			</div>
			
		</form>
	</div>
	<!-- end:Main Form -->
</div>

<app-footer></app-footer>