<app-header></app-header>
<body>
	<div class="bs-header" id="content">
		<div class="container">
			<h1>Ionic Snippets</h1>
			<p> Design elements, playground and code snippets for <a href="https://ionicframework.com" target="_blank"> Ionic</a> HTML/CSS/TS framework </p>
		</div>
	</div><br>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p><strong>What is this?</strong></p>
				<p>Bootsnipp is an element gallery for web designers and web developers, anybody using Bootstrap will find this website essential in their craft.</p>
			</div>
			<!-- <div class="col-md-4"></div> -->
			<div class="col-md-6">
				<p><strong>Stay updated, Subscribe to Bootsnipp mailing list</strong></p>
				<p>(only important updates will be sent, your email is never shared or sold to anyone else)</p>
				<div>
					<form action="#">
		              <div class="input-group">
		                 <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="required email form-control" id="mce-EMAIL">
		                 <span class="input-group-btn">
		                 <input type="submit" class="button btn btn-default" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
		                 </span>
		              </div>
             		</form>
				</div>
			</div>
		</div>
	</div>
	<br>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4 box-pointer" *ngFor = "let details of detail">

			<a [routerLink]="['/snippet-detail', details.id]">
				<div class="card">
				 <!-- (click)="viewDetail(details.id)" -->
				<div class="card-title mt-3">{{details.title}}</div>
				<!-- <h1>{{details.title}}</h1> -->
				<img class="card-img-top" src="{{details.photo}}">
				<div class="card-block">
				<!-- <figure class="profile">
				<img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
				</figure> -->
				<!-- <h4 class="card-title mt-3">{{details.title}}</h4> -->
				<!-- <div class="card-text">
				{{details.description}}
				</div> -->
				</div>
				<div class="card-footer">
					<small>Last updated 3 mins ago</small>
					<button class="btn btn-secondary btn-sm float-right">show</button>
				</div>
				</div></a><br>
</div>
</div>

</div><h3></h3>
</body>
<app-footer></app-footer>
